<div class="card">
    <div class="card-content">
        <div class="card-title custom-card-title red text-white">
            Onboarding Info
        </div>
        <div class="wrapper-detail">
            <div class="row detail-row">
                <div class="col s4">
                    <span class="detail-title grey-text text-darken-2">ENTRY DATE</span>
                </div>
                <div class="col s8">
                    <span class="grey-text text-darken-1">{{onboarding.entry_date | date:"d M Y"}}</span>
                </div>
            </div>
            <div class="row detail-row">
                <div class="col s4">
                    <span class="detail-title grey-text text-darken-2">TRAIL PERIOD</span>
                </div>
                <div class="col s8">
                    <span class="grey-text text-darken-1">{{onboarding.trial_period}} weeks</span>
                </div>
            </div>
        </div>
    </div>
</div>