<div class="card">
        <div class="card-content">
            <div class="card-title teal-text">
                Personal Info
            </div>
            <div>
                <div>
                    <span class="detail-card-key">First
                        Name:</span><span>{{onboarding.newemployee.profile.first_name}}</span>
                </div>
                <div>
                    <span class="detail-card-key">Last
                        Name:</span><span>{{onboarding.newemployee.profile.last_name}}</span>
                </div>
                <div>
                    <span class="detail-card-key">Gender
                    </span><span>{{onboarding.newemployee.profile.get_gender_display}}</span>
                </div>
                <div>
                    <span class="detail-card-key">Date of
                        Birth:</span><span>{{onboarding.newemployee.birth_date}}</span>
                </div>
                <div>
                    <span class="detail-card-key">Personal
                        Email:</span><span>{{onboarding.newemployee.personal_email}}</span>
                </div>
                <div>
                    <span class="detail-card-key">Work
                        Email:</span><span>{{onboarding.newemployee.profile.email}}</span>
                </div>
            </div>
        </div>
    </div>