{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="col s3">
        {% include 'core/try1/date_card.html' %}
    </div>
    <div class="col s9">
        {% include 'core/default/active_onboardings_card.html' %}
    </div>
</div>
<div class="row">
    <div class="col s6">
        {% include 'core/try1/tasks_past_due_card.html' %}
    </div>
    <div class="col s6">
        {% include 'core/try1/tasks_due_next_week.html' %}
    </div>
    <div class="col s12">
        {% include 'core/try1/recently_updated_tasks.html' %}
    </div>
</div>






{% endblock %}