.navbar-spacer {
    margin-top:20px;
    padding-left: 340px;
    padding-right: 45px;
}

.section-title {
    margin-bottom:35px;
    font-weight: 800;
    color: #484848;
    padding:0 0.75rem;
}

.detail-card-key {
    font-weight: 500;
    margin-right:5px;
}

.ml-2 {
    margin-left:10px;
}

.c-pointer {
    cursor: pointer;
}

.section-subtitle {
    margin-top:0px;
}

.pseudo-form {
    display:none;
}


.flex-title {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#toast-container {
    top: 80% !important;
    right: 3% !important;
    /* transform: translateX(50%) translateY(50%); */
}

.toast-success {
    background-color: green;
    color:white;
    padding: 30px 50px;
}

body {
    background-color:#f1f1f1;
}

.section-subtitle {
    margin-top:-25px;
    padding:0 0.75rem;
    margin-bottom:25px;
    color: #808080;
}

td.align-left, th.align-left {
    text-align: left !important;
}
