.email {
    font-size: 12px;
    color:#989898;
}
.name-span {
    color: #0a54c7;
    font-weight: 600;
}

.person-field {
    font-weight: 500;
    color: #6d6d6d;
}

.card-content {
    padding:40px !important;
}


.date-card-field {
    font-size: 20px;
    font-weight: bold;
}

.small-p {
    font-size:14px;
}

.medium-text-card {
    font-size:20px;

}

.subtext {
    font-size: 14px;
    color: #929292;
}

.font-bold {
    font-weight: 600;
}

.custom-card-title {
    /* font-weight:400 !important; */
    color:white;
    padding:10px;
    margin-bottom:20px !important;
}
.date-card h1 {
    margin:20;
}
.date-card {
    padding:40px 20;
    text-align: center;
}

.big-icon {
    font-size:50px;
}


.form-wrapper {
    margin-top: 40px;
    margin-bottom: 30px;
}

.detail-title {
    font-weight: 600;
}

.wrapper-detail {
    padding:20 20px;
    margin-top:30px;
}

.detail-row {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

.bold-text {
    font-weight:800;
}

.pag-marg {
    margin-top: 40px;
}

span.badge-custom {
    margin-left:20;
    float:none;
}

.filter-button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.m-40 {
    margin-top:40px;
}

.m-20 {
    margin-top:20px;
}

.m-60 {
    margin-bottom: 60px;
}

.sidenav-custom {
    background-color: #2f3e46;
}

.sidenav li>a.custom-a {
    color:white;
}

.profile-image-box {
    /* margin-top:4px; */
    display:flex;
    align-items:center;
    width:33%;
    justify-content: center;
}

.profile-image-box img {
    max-height:45px;
    margin-right:8px;
}

.profile-icons-container {
    display:flex;
    width:100%;
    margin-left:10px;
    justify-content: space-evenly;
}

.icon-max {
    max-width: 20px;
    margin-right: 30px;
}
.profile-name-icon {
    margin-left: 10px;
}

.menu-nav-container {
    display:flex;
    justify-content: space-between;
}

.icons-profile-container {
    display:flex;
    width:66%;
    justify-content: space-around;
}

.single-icon-box {
    display:flex;
}
.single-icon-box a {
    display:flex;
}

.menu-container {
    width: 13%;
    display: flex;
    justify-content: space-around;
}

.profile-icon-text {
    margin-left:5px;
}

.sidebar-title {
    text-align: center;
    letter-spacing: 4px;
}

.sidebar-user {
    text-align: center;
    font-weight: 600;
    color: white;
    margin-top:40px;
    margin-bottom: 5px;
}
.sidebar-user .badge {
    float:none;
}

.sidebar-photo {
    text-align: center;
}

.sidebar-photo img {
    border-radius: 50%;
    width:120px;
    height: 120px;
    margin-top:10px;
    margin-bottom: 30px;
}

.nav-bread {
    padding-left:350px;

}

.nav-bread .breadcrumb {
    color:#828282;
}

.nav-bread .breadcrumb::before {
    color:black;
}

.sidebar-active {
    background-color: red;
}

.no-mr {
    margin-left:0 !important;
}