{% load core_extras %}
<div class="card">
    <div class="card-content">
        <div class="card-title custom-card-title blue text-white">
            Task List
        </div>
        <div class="row">
            <form method="GET">

                <div class="input-field col s2">
                    {{ filter.form.state }}
                    {{ filter.form.state.label_tag }}
                </div>
                <div class="input-field col s2">
                    {{ filter.form.assigned_to }}
                    {{ filter.form.assigned_to.label_tag }}
                </div>
                <div class="input-field col s2 date-field">
                    {{ filter.form.date_due__gt }}
                    {{ filter.form.date_due__gt.label_tag }}
                </div>
                <div class="input-field col s2 date-field">
                    {{ filter.form.date_due__lt }}
                    {{ filter.form.date_due__lt.label_tag }}
                </div>
                <div class="input-field col s2">
                    {{ filter.form.task__title__icontains }}
                    {{ filter.form.task__title__icontains.label_tag }}
                </div>
                <div class="input-field col s2">
                    {{ filter.form.onboarding }}
                    {{ filter.form.onboarding.label_tag }}
                </div>
                <div class="col s12">
                    <button class="waves-effect waves-light btn right filter-button" type="submit">Apply Filters</button>
                </div>
            </form>
        </div>
        <div class="wrapper-detail">
            <table class="stripped highlight">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>Task</th>
                        <th>Onboarding</th>
                        <th>Date Due</th>
                        <th>Assigned To</th>
                    </tr>
                </thead>

                <tbody>
                    {% for on_task in paginated  %}
                    {% class_for_state on_task as the_class %}

                    {% url 'onboarding:task_detail' on_task.onboarding.id on_task.task.id as target_url %}
                    <tr onclick="window.location='{{ target_url }}'" style="cursor:pointer;">
                        <td>
                            <span class="badge {{the_class}}">
                                {{on_task.get_state_display}}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{on_task.task.title}}
                            </span>
                            <p class="email">
                                {{on_task.task.category.title}}
                            </p>
                        </td>
                        <td>
                            <span class="name-span">
                                {{on_task.onboarding.first_name}} {{on_task.onboarding.last_name}}
                            </span>
                            <p class="email"> {{on_task.onboarding.newemployee.personal_email}}</p>
                        </td>
                        <td>
                            {% if on_task.date_due %}
                            {{on_task.date_due | date:"d/m/Y"}}
                            {% else %}
                            <span class="text-darken-4
                            red-text bold-text">N.A.</span>
                            {% endif %}
                        </td>
                        <td class="">
                            {% if on_task.assigned_to  %}
                            {{on_task.assigned_to}}

                            {% else %}
                            <span class="text-darken-4
                            red-text bold-text">N.A.</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="center-align pag-marg">
                {% include "core/reusable/pagination.html" with paginated=paginated query_field="state" %}
            </div>
        </div>
    </div>
</div