{% load core_extras %}
<div class="card">
        <div class="card-content">
            <div class="card-title custom-card-title green darken-2 text-white">
                Tasks
                <!-- <button class="waves-effect waves-light btn right">Apply Filters</button> -->
            </div>
            <div class="row">
                <form method="GET">

                    <div class="input-field col s3">
                        {{ filter.form.state }}
                        {{ filter.form.state.label_tag }}
                    </div>
                    <div class="input-field col s3">
                        {{ filter.form.task__date_due }}
                        {{ filter.form.task__date_due.label_tag }}
                    </div>
                    <div class="input-field col s3">
                        {{ filter.form.assigned_to }}
                        {{ filter.form.assigned_to.label_tag }}
                    </div>
                    <div class="input-field col s3">

                        {{ filter.form.task__category }}
                        {{ filter.form.task__category.label_tag }}

                    </div>
                    <button class="waves-effect waves-light btn right" type="submit">Apply Filters</button>
                </form>
            </div>
            <table class="stripped highlight">
                <thead>
                    <tr>
                        <th class="center-align">Pos.</th>
                        <th>State</th>
                        <th>Name</th>
                        <th class="center-align"><i class="material-icons tooltipped" data-position="bottom"
                                data-tooltip="Assigned To">person</i></th>
                        <th class="center-align"><i class="material-icons tooltipped" data-position="bottom"
                                data-tooltip="Category">device_hub</i></th>
                        <th class="center-align"><i class="material-icons tooltipped" data-position="bottom"
                                data-tooltip="Phase">check_box</i></th>
                        <th class="center-align"><i class="material-icons tooltipped" data-position="bottom"
                                data-tooltip="Date Due">date_range</i></th>
                        <!-- <th class="center-align"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Actions">more_vert</i></th> -->
                    </tr>
                </thead>

                <tbody>

                    {% for task_onboard in paginated  %}
                    {% class_for_state task_onboard as the_class %}
                    {% url 'onboarding:task_detail' task_onboard.onboarding.id task_onboard.task.id as target_url %}
                    <tr onclick="window.location='{{ target_url }}'" style="cursor:pointer;">
                        <td class="center-align">{{task_onboard.position}}</td>
                        <td>
                            <span class="badge {{the_class}}">
                                {{task_onboard.get_state_display}}
                            </span>
                        </td>
                        <td>{{task_onboard.task.title}}</td>
                        <td class="center-align">
                            {% if task_onboard.assigned_to  %}
                            {{task_onboard.assigned_to}}

                            {% else %}
                            <span class="text-darken-4
                            red-text bold-text">N.A.</span>
                            {% endif %}
                        </td>
                        <td class="center-align">{{task_onboard.task.category.title}}</td>
                        <td class="center-align">
                            {{task_onboard.task.get_date_due_display}}</td>
                        <td class="center-align">

                            {% if task_onboard.date_due %}
                            {{task_onboard.date_due | date:"d/m/Y"}}
                            {% else %}
                            <span class="text-darken-4
                            red-text bold-text">N.A.</span>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="center-align pag-marg">
                {% include "core/reusable/pagination.html" with paginated=paginated query_field="state" %}
            </div>
        </div>
    </div>