<div class="card">
    <div class="card-content">
        <span class="card-title custom-card-title teal">Recently Updated Tasks</span>
        <table class="stripped highlight">
            <thead>
                <tr>
                    <th>Onboarding</th>
                    <th>Name</th>
                    <th class="center-align"><i class="material-icons tooltipped" data-position="bottom"
                            data-tooltip="Assigned To">person</i></th>
                    <th class="center-align"><i class="material-icons tooltipped" data-position="bottom"
                            data-tooltip="Date Due">date_range</i></th>
                    <!-- <th class="center-align"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Actions">more_vert</i></th> -->
                </tr>
            </thead>

            <tbody>
                {% for task_onboard in task_updated_last_week  %}
                {% url 'onboarding:task_detail' task_onboard.onboarding.id task_onboard.task.id as target_url %}
                <tr onclick="window.location='{{ target_url }}'" style="cursor:pointer;">
                    <td>
                        <span class="name-span">{{task_onboard.onboarding.first_name}}
                            {{task_onboard.onboarding.last_name}}</span>
                        <p class="email">{{task_onboard.onboarding.email}}</p>
                    </td>
                    <td>
                        <span>
                            {{task_onboard.task.title}}
                        </span>
                        <p class="email">{{task_onboard.task.category.title}}</p>
                    </td>
                    <td class="center-align">
                        {% if task_onboard.assigned_to  %}
                        <span class="">
                            {{task_onboard.assigned_to}}
                        </span>
                        

                        {% else %}
                        <!-- <i class="material-icons red-text">highlight_off</i> -->
                        <span class="text-darken-4
                        red-text bold-text">N.A.</span>
                        {% endif %}
                    </td>
                    <td class="center-align">
                        <span class="email">
                            {{task_onboard.task.get_date_due_display}}
                        </span>
                        <p>
                                {% if task_onboard.date_due %}
                                {{task_onboard.date_due | date:"d/m/Y"}}
                                {% else %}
                                <span class="text-darken-4
                                red-text bold-text">
                                    N.A.
                                </span>
                                <!-- <i class="material-icons">highlight_off</i> -->
                                {% endif %}

                        </p>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>